In [1]:
import pandas as pd

movies = pd.read_clipboard()

In [18]:
 #movies=pd.read_clipboard()

In [19]:
#movies

In [80]:
movies=pd.read_csv(r'ml data.csv' )

In [21]:
movies

,Id,name,industry,genre,language,duration,rating
0,1,baahubali,tollywood,action,telugu,170,9.5
1,2,Brahmastra,bollywood,mystereous,hindi,180,5.0
2,3,uri-the surgical strike,bollywood,Action,hindi,120,10.0
3,4,DDLG,bollywood,Romantic,hindi,150,10.0
4,5,Avengers-end games,Hollywood,Action,english,180,9.0
5,6,tenet,Hollywood,SciFi,english,150,8.5
6,7,major,bollywood,Action,hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,english,190,7.0
8,9,Gravity,Hollywood,SciFi,english,130,6.0
9,10,Titanic,Hollywood,Drama,english,180,9.0
10,11,Yeh jawani hai diwani,bollywood,Romantic,hindi,150,5.0
11,12,Houseful,bollywood,comedy,hindi,150,6.0
12,13,The Dictator,Hollywood,comedy,english,120,7.0
13,14,Hera Pheri,bollywood,comedy,hindi,140,9.0
14,15,Sholay,bollywood,Drama,hindi,150,8.5

In [81]:
movies.drop('Id',axis=1,inplace=True)

In [70]:
movies

                       name   industry       genre language  duration  rating
0                 baahubali  tollywood      action   telugu       170     9.5
1                Brahmastra  bollywood  mystereous    hindi       180     5.0
2   uri-the surgical strike  bollywood      Action    hindi       120    10.0
3                      DDLG  bollywood    Romantic    hindi       150    10.0
4        Avengers-end games  Hollywood      Action  english       180     9.0
5                     tenet  Hollywood       SciFi  english       150     8.5
6                     major  bollywood      Action    hindi       140     8.0
7              Intersteller  Hollywood       SciFi  english       190     7.0
8                   Gravity  Hollywood       SciFi  english       130     6.0
9                   Titanic  Hollywood       Drama  english       180     9.0
10    Yeh jawani hai diwani  bollywood    Romantic    hindi       150     5.0
11                 Houseful  bollywood      comedy    hindi       150     6.0
12             The Dictator  Hollywood      comedy  english       120     7.0
13               Hera Pheri  bollywood      comedy    hindi       140     9.0
14                   Sholay  bollywood       Drama    hindi       150     8.5

In [71]:
movies

                       name   industry       genre language  duration  rating
0                 baahubali  tollywood      action   telugu       170     9.5
1                Brahmastra  bollywood  mystereous    hindi       180     5.0
2   uri-the surgical strike  bollywood      Action    hindi       120    10.0
3                      DDLG  bollywood    Romantic    hindi       150    10.0
4        Avengers-end games  Hollywood      Action  english       180     9.0
5                     tenet  Hollywood       SciFi  english       150     8.5
6                     major  bollywood      Action    hindi       140     8.0
7              Intersteller  Hollywood       SciFi  english       190     7.0
8                   Gravity  Hollywood       SciFi  english       130     6.0
9                   Titanic  Hollywood       Drama  english       180     9.0
10    Yeh jawani hai diwani  bollywood    Romantic    hindi       150     5.0
11                 Houseful  bollywood      comedy    hindi       150     6.0
12             The Dictator  Hollywood      comedy  english       120     7.0
13               Hera Pheri  bollywood      comedy    hindi       140     9.0
14                   Sholay  bollywood       Drama    hindi       150     8.5

In [8]:
movies.max()

Id                               15
name        uri-the surgical strike
industry                  tollywood
genre                    mystereous
language                     telugu
duration                        190
rating                         10.0
dtype: object

In [9]:
movies['duration'].argmax()

7

In [10]:
movies['name'][7]

'Intersteller'

In [11]:
movies['name'][movies['duration'].argmax()]

'Intersteller'

In [44]:
movies=pd.read_csv(r'ml data.csv')

In [45]:
movies

,Id,name,industry,genre,language,duration,rating
0,1,baahubali,tollywood,action,telugu,170,9.5
1,2,Brahmastra,bollywood,mystereous,hindi,180,5.0
2,3,uri-the surgical strike,bollywood,Action,hindi,120,10.0
3,4,DDLG,bollywood,Romantic,hindi,150,10.0
4,5,Avengers-end games,Hollywood,Action,english,180,9.0
5,6,tenet,Hollywood,SciFi,english,150,8.5
6,7,major,bollywood,Action,hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,english,190,7.0
8,9,Gravity,Hollywood,SciFi,english,130,6.0
9,10,Titanic,Hollywood,Drama,english,180,9.0
10,11,Yeh jawani hai diwani,bollywood,Romantic,hindi,150,5.0
11,12,Houseful,bollywood,comedy,hindi,150,6.0
12,13,The Dictator,Hollywood,comedy,english,120,7.0
13,14,Hera Pheri,bollywood,comedy,hindi,140,9.0
14,15,Sholay,bollywood,Drama,hindi,150,8.5

2-number of movies who got 10 Rating?

In [46]:
sum(movies['rating']==10)

2

how many industry are there?

In [47]:
movies['industry'].value_counts().count()

3

In [48]:
len(movies['industry'].value_counts())

3

In [49]:
movies['industry'].nunique()

3

find the least like comedy movie name

In [69]:
movies['name'][movies[movies['genre']=='comedy']['rating'].idxmin()]

'Houseful'

In [70]:
movies.columns

Index(['Id', 'name', 'industry', 'genre', 'language', 'duration', 'rating'], dtype='object')

longest english movie

In [72]:
movies['name'][movies[movies['language']=='english']['duration'].idxmax()]

'Intersteller'

what is the genre of intersteller

In [45]:
movies['genre'][movies['name']=='Intersteller']

7    SciFi
Name: genre, dtype: object

In [11]:
movies['genre'][movies['name']=='Intersteller'].values

array(['SciFi'], dtype=object)

In [12]:
movies['genre'][movies['name']=='Intersteller'].values[0]

'SciFi'

In [23]:
movies['name'].str.lower()

0                   baahubali
1                  brahmastra
2     uri-the surgical strike
3                        ddlg
4          avengers-end games
5                       tenet
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yeh jawani hai diwani
11                   houseful
12               the dictator
13                 hera pheri
14                     sholay
Name: name, dtype: object

In [43]:
movies['genre'][movies['name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [44]:
name.values

NameError: name 'name' is not defined

In [33]:
movies['genre'].str.get_dummies()

    Action  Drama  Romantic  SciFi  action  comedy  mystereous
0        0      0         0      0       1       0           0
1        0      0         0      0       0       0           1
2        1      0         0      0       0       0           0
3        0      0         1      0       0       0           0
4        1      0         0      0       0       0           0
5        0      0         0      1       0       0           0
6        1      0         0      0       0       0           0
7        0      0         0      1       0       0           0
8        0      0         0      1       0       0           0
9        0      1         0      0       0       0           0
10       0      0         1      0       0       0           0
11       0      0         0      0       0       1           0
12       0      0         0      0       0       1           0
13       0      0         0      0       0       1           0
14       0      1         0      0       0       0           0

In [36]:
# names.str.index('e')

In [39]:
# name.str.join('.')

In [40]:
# names.str.upper()

In [42]:
# names.str.strip()

In [46]:
movies['genre'][movies['name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

###  what is average duration of each genre

In [47]:
movies['genre'].unique()

array(['action', 'mystereous', 'Action', 'Romantic', 'SciFi', 'Drama',
       'comedy'], dtype=object)

In [48]:
movies['genre'].nunique()

7

In [50]:
movies['genre'].value_counts()

Action        3
SciFi         3
comedy        3
Romantic      2
Drama         2
action        1
mystereous    1
Name: genre, dtype: int64

In [62]:
for genre in movies['genre'].unique():
    print(genre , movies[movies['genre']==genre]['duration'].mean())

action 170.0
mystereous 180.0
Action 146.66666666666666
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
comedy 136.66666666666666

In [61]:
movies.groupby('genre')['duration'].mean()

genre
Action        146.666667
Drama         165.000000
Romantic      150.000000
SciFi         156.666667
action        170.000000
comedy        136.666667
mystereous    180.000000
Name: duration, dtype: float64

In [65]:
movies.groupby(['genre','industry'])['duration'].mean()

genre       industry
Action      Hollywood    180.000000
            bollywood    130.000000
Drama       Hollywood    180.000000
            bollywood    150.000000
Romantic    bollywood    150.000000
SciFi       Hollywood    156.666667
action      tollywood    170.000000
comedy      Hollywood    120.000000
            bollywood    145.000000
mystereous  bollywood    180.000000
Name: duration, dtype: float64

In [66]:
movies.groupby(['industry','genre'])['duration'].mean()

industry   genre
Hollywood  Action        180.000000
           Drama         180.000000
           SciFi         156.666667
           comedy        120.000000
bollywood  Action        130.000000
           Drama         150.000000
           Romantic      150.000000
           comedy        145.000000
           mystereous    180.000000
tollywood  action        170.000000
Name: duration, dtype: float64

In [72]:
movies.describe()

         duration     rating
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [84]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   industry  15 non-null     object
 2   genre     15 non-null     object
 3   language  15 non-null     object
 4   duration  15 non-null     int64
 5   rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 848.0+ bytes

In [83]:
movies.describe(include='all')

             name   industry   genre language    duration     rating
count          15         15      15       15   15.000000  15.000000
unique         15          3       7        3         NaN        NaN
top     baahubali  bollywood  Action    hindi         NaN        NaN
freq            1          8       3        8         NaN        NaN
mean          NaN        NaN     NaN      NaN  153.333333   7.833333
std           NaN        NaN     NaN      NaN   22.253946   1.718249
min           NaN        NaN     NaN      NaN  120.000000   5.000000
25%           NaN        NaN     NaN      NaN  140.000000   6.500000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  175.000000   9.000000
max           NaN        NaN     NaN      NaN  190.000000  10.000000

In [87]:
movies.groupby('industry').describe().T

industry         Hollywood   bollywood  tollywood
duration count    6.000000    8.000000        1.0
         mean   158.333333  147.500000      170.0
         std     29.268869   16.690459        NaN
         min    120.000000  120.000000      170.0
         25%    135.000000  140.000000      170.0
         50%    165.000000  150.000000      170.0
         75%    180.000000  150.000000      170.0
         max    190.000000  180.000000      170.0
rating   count    6.000000    8.000000        1.0
         mean     7.750000    7.687500        9.5
         std      1.254990    2.086307        NaN
         min      6.000000    5.000000        9.5
         25%      7.000000    5.750000        9.5
         50%      7.750000    8.250000        9.5
         75%      8.875000    9.250000        9.5
         max      9.000000   10.000000        9.5

In [92]:
movies.groupby(['genre','industry']).describe().T

genre             Action                 Drama              Romantic  \
industry       Hollywood   bollywood Hollywood bollywood   bollywood
duration count       1.0    2.000000       1.0       1.0    2.000000
         mean      180.0  130.000000     180.0     150.0  150.000000
         std         NaN   14.142136       NaN       NaN    0.000000
         min       180.0  120.000000     180.0     150.0  150.000000
         25%       180.0  125.000000     180.0     150.0  150.000000
         50%       180.0  130.000000     180.0     150.0  150.000000
         75%       180.0  135.000000     180.0     150.0  150.000000
         max       180.0  140.000000     180.0     150.0  150.000000
rating   count       1.0    2.000000       1.0       1.0    2.000000
         mean        9.0    9.000000       9.0       8.5    7.500000
         std         NaN    1.414214       NaN       NaN    3.535534
         min         9.0    8.000000       9.0       8.5    5.000000
         25%         9.0    8.500000       9.0       8.5    6.250000
         50%         9.0    9.000000       9.0       8.5    7.500000
         75%         9.0    9.500000       9.0       8.5    8.750000
         max         9.0   10.000000       9.0       8.5   10.000000

genre                SciFi    action    comedy             mystereous
industry         Hollywood tollywood Hollywood   bollywood  bollywood
duration count    3.000000       1.0       1.0    2.000000        1.0
         mean   156.666667     170.0     120.0  145.000000      180.0
         std     30.550505       NaN       NaN    7.071068        NaN
         min    130.000000     170.0     120.0  140.000000      180.0
         25%    140.000000     170.0     120.0  142.500000      180.0
         50%    150.000000     170.0     120.0  145.000000      180.0
         75%    170.000000     170.0     120.0  147.500000      180.0
         max    190.000000     170.0     120.0  150.000000      180.0
rating   count    3.000000       1.0       1.0    2.000000        1.0
         mean     7.166667       9.5       7.0    7.500000        5.0
         std      1.258306       NaN       NaN    2.121320        NaN
         min      6.000000       9.5       7.0    6.000000        5.0
         25%      6.500000       9.5       7.0    6.750000        5.0
         50%      7.000000       9.5       7.0    7.500000        5.0
         75%      7.750000       9.5       7.0    8.250000        5.0
         max      8.500000       9.5       7.0    9.000000        5.0

### what is average rating of each industry

In [93]:
movies.groupby('industry')['rating'].mean()

industry
Hollywood    7.7500
bollywood    7.6875
tollywood    9.5000
Name: rating, dtype: float64

### average rating pf romantic movies industry wise

In [96]:
movies[movies['genre'].str.lower()=='romantic'].groupby('industry')['rating'].mean()

industry
bollywood    7.5
Name: rating, dtype: float64

### list down all the english movie with there industry rating in descending order

In [99]:
movies[movies['language'].str.lower()=='english'][['name','rating']].sort_values(by='rating',ascending=False)

                  name  rating
4   Avengers-end games     9.0
9              Titanic     9.0
5                tenet     8.5
7         Intersteller     7.0
12        The Dictator     7.0
8              Gravity     6.0